
    header{
        background: #323232;
        border-bottom: 2px solid white;
        height:150px;
        /*position:relative;*/
        position: absolute;
        top: 0%;
        right:0%;
        left: 0%;
       
    }

.page{

    margin: auto;

}

nav{
    position: relative;
    top:-1%;
    right:2%;
    text-align:right;
    font-size:0.9em;
}
nav .lemgui{
    position:absolute;
    left:-3%;
    color: #FA9D05;
    display: inline-block;
    font-weight: bold;
    font-size:1em; 
    width: 15%;
}

nav ul{
    display: inline-block;
    text-align: right;
}
nav button{
    background: #FA9D05;
    display: inline-block;
    height: 28px;
    border: none;
    border-radius:4px 4px 4px 4px;
  /*  position: relative;
    bottom:4px;*/
}
nav button  a{
   color: black;
    text-decoration: none;
    color: white;
    font-size:1em;
}
nav ul li{
    display: inline-block;
    margin-right:8px;
    font-weight: bold; 
    font-family: Helvetica,sans-serif,Arial;
}
nav ul li a{

color: white;
text-decoration: none;
opacity: 0.8;

}
nav ul li a:hover{
    color: white;
    text-decoration: none;
    background-color: black;
    }
 a{
    color: black;
    text-decoration: none;
}
  .bannier{
    position:relative;
    left:-5px;
    top:23px;
    }
  .bannier .description{
  /*    background: url('../image/fond.jpg') no-repeat;*/
  position:absolute;
  top:8%;
  left:2%;
  }  
   .bannier .description h1{
   color:white;
   font-weight:bold;
   font-family:cursive;
   font-size:1.3em;
   }
.bannier .description h2{
   color:white;
  /* font-weight:bold;*/
   font-family:Noto Sans, sans-serif;
   font-size:1em;
   }
   .bannier button{
    width:64px;
    height:35px;
    background-color:#FA9D05;
    position:relative;
    left:5%;
    
    border: none;
    border-radius:1px;
   }
   .bannier button a{
    font-size:1em;
      text-decoration: none;
      color:black;
   }
.bannier .para {
    position:relative;
    top:-150px;
    text-align:center;
}
.bannier .para .paragraphe1,.bannier .para .paragraphe2,.bannier .para .paragraphe3{
 display: inline-block;
 width:30%;
 height:180px;
 background-color: #FA9D05;
 margin-right:15px;
}
.bannier .para h4{
    font-size:1em;
    font-family:cursive;
}
.bannier .para p{
    padding: 2px;
    margin-top:-10px;
}
.domaine h4{
    text-align:center;
    position:relative;
    top:-130px;
    font-size:1.2em;
    font-weight:bold;
    font-family:cursive;
}
.domaine .ligne{
    margin:auto;
     position:relative;
    top:-150px;
    width:40px;
    height:0px;
    background-color: #FA9D05;
}
.domaine p{
    text-align:center;
    position:relative;
    top:-150px;
}
.section1 section article{
 display: inline-block;
 width:40%;
 height:50%;
 position:relative;
 left:5%;
 top:-95px;
 margin-right:1%;
 border:solid 1px #969696;
}
section article h5{
 margin-left:1%;
 font-size:1em;
 font-family:cursive;
}
section article p{
 margin-left:1%;
}
.nouvelle h4{
    text-align:center;
    position:relative;
    top:-100px;
    font-size:1em;
    font-weight:bold;
    font-family:cursive;
}
.nouvelle .ligne{
    margin:auto;
     position:relative;
    top:-100px;
    width:40px;
    height:0px;
    background-color: #FA9D05;
}
.nouvelle p{
    text-align:center;
    position:relative;
    top:-100px;
}

.section2 section article {
 display: inline-block;
 width:40%;
 height:20%;
position:relative;
 left:5%;
 top:-100px;
 margin-right:1%;
 margin-bottom: 1%;
 border:solid 1px #969696;

}
.donnateur h4{
    text-align:center;
    position:relative;
    top:-100px;
    font-size:1em;
    font-weight:bold;
    font-family:cursive;
}
.donnateur .ligne{
    margin:auto;
     position:relative;
    top:-100px;
    width:40px;
    height:0px;
    background-color: #FA9D05;
}
.donnateur p{
    text-align:center;
    position:relative;
    top:-100px;
}
.section3 section article {
 display: inline-block;
 width:40%;
 /* height:100px; */
position:relative;
 left:5%;
 top:-105px;
 margin-right:1%;
 margin-bottom: 05px;
 border-radius:100px;
}
.section3 section article img{
    border-radius:150px;
    
}
.section3 section article h5{
    text-align: center;
    font-size: 1em;
}
.contact h4{
    text-align:center;
    position:relative;
    top:-100px;
    font-size:1em;
    font-weight:bold;
    font-family:cursive;
}

.contact p{
    text-align:center;
    position:relative;
    top:-100px;
}
form table tr{
    /* display: inline-block; */
    position: relative;
    top:-100px;
     left: 16%; 
    width:35%;
    margin: auto;
    
    }
form table tr td input{
    width: 150%;
    height:44px;
    margin-bottom: 25px;
    font-size: 1em;
    }
    form table tr td textarea{
        width: 190%;
        height:145px;
        font-size: 1.3em;
        }
        form table  button{
           background-color: #FA9D05;
           width: 1100px;
           height: 40px;
           font-size: 1em;
        }
        form table tr td input:hover,form table tr td textarea:hover{
            border: solid 1px #FA9D05;
        }
        form table tr td button:hover{
            border: solid 1px #FA9D05;
            background-color: #dA9a05;
        }
        footer{
            height: 350px;
            background-color:  #323232;
        }
        footer  ul{
            display: inline-block;
            width: 40%;
            position: relative;
            left: 15%;
            top: 50px;
            color: white;
        }
        footer  ul li{
            margin-bottom: 5px;
            list-style: none;
        }
        footer input{
            width: 158px;
            height: 20px;
        }
        footer button{
            margin-top: 1%;
            width: 88px;
            height: 50px;
            background-color: rgb(99, 238, 99);
        }
