
    header{
        background: #323232;
        border-bottom: 2px solid white;
        height:40%;
        margin-bottom:-3.5%;
   
       
    }

nav{
    /* position: relative;
    top:-1%;
    right:2%; */
    text-align:right;
    font-size:0.9em;
   
}
nav .lemgui{
    position:relative;
    /* right:2%;  */
    color: #FA9D05;
    display: inline-block;
    font-weight: bold;
    /* width: 13%; */

}

nav ul{
    display: inline-block;
    text-align: right;
    margin-right: 2px;
}
nav button{
    background: #FA9D05;
    display: inline-block;
    height: 25px;
    border: none;
    border-radius:2px 2px 2px 2px;
    margin-bottom: 2px;
    margin-right: 2px;
  /*  position: relative;
    bottom:4px;*/
}
nav button  a{
   color: black;
    text-decoration: none;
    color: white;
    font-size:1em;
}
nav ul li{
    display: inline-block;
    font-weight: bold; 
    font-family: Helvetica,sans-serif,Arial;
}
nav ul li a{

color: white;
text-decoration: none;
opacity: 0.8;

}
nav ul li a:hover{
    color: white;
    text-decoration: none;
    background-color: black;
    }
 a{
    color: black;
    text-decoration: none;
}
  .bannier{
    position:relative;
    left:-5px;
    top:23px;
    }
  .bannier .description{
  /*    background: url('../image/fond.jpg') no-repeat;*/
  position:absolute;
  top:8%;
  left:2%;
  }  
   .bannier .description h1{
   color:white;
   font-weight:bold;
   font-family:cursive;
   font-size:1.3em;
   }
.bannier .description h2{
   color:white;
  /* font-weight:bold;*/
   font-family:Noto Sans, sans-serif;
   font-size:1em;
   }
   .bannier button{
    width:64px;
    height:35px;
    background-color:#FA9D05;
    position:relative;
    left:5%;
    
    border: none;
    border-radius:1px;
   }
   .bannier button a{
    font-size:1em;
      text-decoration: none;
      color:black;
   }
.bannier .para {
    position:relative;
    top:-150px;
    text-align:center;
}
.bannier .para .paragraphe1,.bannier .para .paragraphe2,.bannier .para .paragraphe3{
 display: inline-block;
 width:30%;
 height:180px;
 background-color: #FA9D05;
 margin-right:15px;
}
.bannier .para h4{
    font-size:1em;
    font-family:cursive;
}
.bannier .para p{
    padding: 2px;
    margin-top:-10px;
}
.domaine h4{
    text-align:center;
    position:relative;
    top:-130px;
    font-size:1.2em;
    font-weight:bold;
    font-family:cursive;
}
.domaine .ligne{
    margin:auto;
     position:relative;
    top:-150px;
    width:40px;
    height:0px;
    background-color: #FA9D05;
}
.domaine p{
    text-align:center;
    position:relative;
    top:-150px;
}
.section1 section article{
 display: inline-block;
 width:40%;
 height:50%;
 position:relative;
 left:5%;
 top:-95px;
 margin-right:1%;
 border:solid 1px #969696;
}
section article h5{
 margin-left:1%;
 font-size:1em;
 font-family:cursive;
}
section article p{
 margin-left:1%;
}
.nouvelle h4{
    text-align:center;
    position:relative;
    top:-100px;
    font-size:1em;
    font-weight:bold;
    font-family:cursive;
}
.nouvelle .ligne{
    margin:auto;
     position:relative;
    top:-100px;
    width:40px;
    height:0px;
    background-color: #FA9D05;
}
.nouvelle p{
    text-align:center;
    position:relative;
    top:-100px;
}

.section2 section article {
 display: inline-block;
 width:40%;
 height:20%;
position:relative;
 left:5%;
 top:-100px;
 margin-right:1%;
 margin-bottom: 1%;
 border:solid 1px #969696;

}
.donnateur h4{
    text-align:center;
    position:relative;
    top:-100px;
    font-size:1em;
    font-weight:bold;
    font-family:cursive;
}
.donnateur .ligne{
    margin:auto;
     position:relative;
    top:-100px;
    width:40px;
    height:0px;
    background-color: #FA9D05;
}
.donnateur p{
    text-align:center;
    position:relative;
    top:-100px;
}
.section3 section article {
 display: inline-block;
 width:40%;
 /* height:100px; */
position:relative;
 left:5%;
 top:-105px;
 margin-right:1%;
 margin-bottom: 05px;
 border-radius:100px;
}
.section3 section article img{
    border-radius:150px;
    
}
.section3 section article h5{
    text-align: center;
    font-size: 1em;
}
.contact h4{
    text-align:center;
    position:relative;
    top:-100px;
    font-size:1em;
    font-weight:bold;
    font-family:cursive;
}

.contact p{
    text-align:center;
    position:relative;
    top:-100px;
}
.formulaire form  {
    margin-top: 5%;
     margin-right:5%;
     margin-left:5%; 
 }
 form  .partie1,   form .partie2{
     display: inline-block;
     width:45%;
     margin-right:3%;
     padding-top:0px;
 }

 form  .partie1 input{
     width: 100%;
     height: 35px;
     margin-bottom:25px;
    
 }
 form  .partie2 textarea{
     width: 100%;
     height: 135px;
     margin-bottom:15px;
    
 }
 form  .partie2 input{
     width: 100%;
     height: 45px;
     background-color:#ff9494;
 }
        footer{
            height: 350px;
            background-color:  #323232;
        }
        footer  ul{
            display: inline-block;
            width: 40%;
            position: relative;
            left: 15%;
            top: 50px;
            color: white;
        }
        footer  ul li{
            margin-bottom: 5px;
            list-style: none;
        }
        footer input{
            width: 50%;
            height: 20px;
            margin-bottom:2%;
        }
        footer button{
            margin-top: 1%;
            width: 50%;
            margin-bottom:2%;
            height: 50px;
            background-color: rgb(99, 238, 99);
        }
