body{
    background-color: #ede4e5;
}
form  {
    margin-top: 2%;
     margin-right:2%;
     margin-left:2%;  
     margin: auto;
     width:94%;
     /* background-color: darkgrey; */
     padding: 2%;
     border-radius:4%;
 }

 form   input[type="text"]{
     width: 40%;
     height: 25px;
     margin-bottom:25px;
     font-size:1.2em;
    
 }
 .tabdynamique{
     color: darkblue;
 }
 /* form  table tr td .select {
    margin-bottom:15px;
    background-color: aquamarine;

   
} */
 /* form td{
     font-size: 1.5em;
     text-align: center;
 } */
 form   button[type="submit"]{
    width: 20%;
    height: 45px;
    margin-bottom:25px;
    background:#4aaaff;
    border-radius: 10px;
   
}
 .t2 table {
    border: medium solid #6495ed;
    border-collapse: collapse;
    }
     .t2 td {
    border: thin solid #6495ed;
    height: 5%;
    width: 60%;
    
    }
    caption{
        color: #6495ff;
        font-size: 2em;
        font-weight: bolde;
    }
 /* form   td{
    width: 20%;
    margin:auto;
    font-size:1.2em;
   
} */
.erreur{
    color: darkred;
}

/* form table   tr{
   margin:15px;  
} */
 /*
 form   select {
    width: 40%;
    /* height: 20%; */
    /* margin-bottom:25px;
    font-size:1.5em;
   
}
 form p{
color: #ff4f4f;
font-size: 1.6em;
 }
 form   button{
    width: 20%;
    height: 45px;
    border:none;
    border-radius:5px; 
    font-weight: 500;
    margin-bottom:25px;
    font-size:1.5em;
    background:#ff4f4f;
}

 form   label{
    margin-right:2%;
    font-size:1.5em;
   
} */ 
