.page {
    margin:auto;
    /* background: aqua; */
}
form{
    position: absolute;
    left: 10%;
    top:5%;
    right: 10%;
    background: cadetblue;
    width: 70%;
    height: 80%;
 
}
form p{
    color: red;
   
}
form p.resultat{
    color:11ff55;
   
}
/* form  table tr{
font-size: 1.2em;
font-weight: bold;
height:54px;
}
form  table tr td input{
    height:28px;
  
}
form  table tr td input[checkbox]{
    height:28px;
  
} */